@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
img {
  display: inline-block;
}
.container {
  max-width: 500px;
  margin: 20px auto;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 100px;
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #0267c1, #d65108);
}
.illustration {
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 50% 50% / 1%;
}
.illustration img {
  width: 70%;
  margin: 50px auto;
}
.separator {
  display: block;
  height: 3px;
  width: 70%;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.separator::before,
.separator::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 33%;
  border-radius: inherit;
  opacity: 0.05;
}
.separator::before {
  left: 0;
  background: #efa00b;
}
.separator::after {
  left: initial;
  right: 0;
  background: #d65108;
}
.hgroup {
  text-align: center;
  padding: 10px 30px 30px;
}
.name {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #0267c1;
  font-weight: 600;
}
.hgroup h1 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.hgroup h2 {
  font-size: 19px;
}
.hgroup p {
  font-size: 14px;
  color: slategrey;
  margin-top: 15px;
  text-align: justify;
  line-height: 25px;
}
.items {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  margin: 0 auto 50px;
}
.item .icon {
  margin-bottom: 10px;
}
.item .icon img {
  width: 60px;
}
.item .title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.item .subtitle {
  font-size: 13px;
  color: slategrey;
  padding: 1rem;
}
.button-wrap {
  text-align: center;
}
button.explore {
  padding: 15px 25px;
  font: inherit;
  background: linear-gradient(to right, #0267c1, #0280ef);
  border-radius: 50px;
  border: 0;
  color: #fff;
  margin: auto;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
button.explore:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 10px -7px rgba(0, 0, 0, 0.1);
}
footer {
  font-size: 12px;
  color: slategrey;
  text-align: center;
  padding: 30px;
}
