{
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "max-len": ["warn", 100],
    "no-debugger": 2,
    "no-alert": 1,
    "no-param-reassign": 0,
    "no-irregular-whitespace": 0,
    "prefer-arrow-callback": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "prefer-const": 2,
    "no-useless-escape": 0,
    "global-require": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "radix": 0,
    "no-shadow": 0,
    "array-callback-return": 0,
    "no-return-assign": 0,
    "no-plusplus": 0,
    "no-unused-vars": 0,
    "no-dupe-keys": 0
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": ["airbnb-base"]
}
