table(width='100%', height='100%', cellpadding='0', cellspacing='0', border='0', style='font-size:14px; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;padding:0;margin:0;color:#333; background-color:#f7f7f7;background-repeat:repeat-x;background-position:bottom left;')
  tbody
    tr
      td
        table(width='600', border='0', align='center', cellpadding='0', cellspacing='0')
          tbody
            tr
              td(align='center', valign='middle', style='padding:33px 0;')
                a(href='', target='_blank')
            tr
              td
                div(style='padding:0 30px;background:#fff;box-shadow:0 0 5px #eee;')
                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                    tbody
                      tr
                        td(style='border-bottom: 1px solid #e6e6e6;font-size:18px;padding:28px 0;') Verification Code
                      tr
                        td(style='font-size:14px;line-height:30px;padding:20px 0;color:#666;')
                          | Hello,
                          br
                          |                               Your verification code:
                          strong(style='margin:0 5px;') #{code}
                          br
                          |                               This code will be expired in two minutes from requesting code.
